h1 { 
    color:#000000;
    background-color: #ffccff; 
}

#body-background {
    background-color: #ac3973;

}

.div1 {
    background-color: orange;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding:0;
}

.div2 {
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding:0;
}

.Tasks {
    background-color: #00e600;
    width: 100%;
    float:left;
    height: 30px;
}

.task-buttons {
    background-color: #00e600;
    width: 99.4%;
    float:left;
    height: 30px;
    padding:0;
    
    align-items: flex-start;
    text-align: left;
    cursor: default;
    color: buttontext;
    box-sizing: content-box;
    border-width: 0;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    margin-bottom: 5px;
    font-size: 20;
    font-family: 'Aldrich';
    padding-left: 10px;
}
